<h1><%= t("servers.new.title") %></h1>

<%= render "form", server: @server, url: servers_path, method: :post, submit_text: t("servers.new.submit") %>

<%= link_to t("servers.index.back"), servers_path %>